<section>
    <div class="table-container">
        <table class="header">
            <tr>
                <th class="small">ID</th>
                <th class="large">Name</th>
                <th class="medium">INN</th>
                <th class="small">Discount</th>
                <th class="small">C.Num</th>
                <th class="medium">C.Date</th>
                <th class="button"><button (click)="openModal('new')">New</button></th>
            </tr>
        </table>
        <table class="content">
            <tr *ngFor="let c of clientTable" class="row" [class.selected]="c.isHovered">
                <td class="small">{{c.clientId}}</td>
                <td class="large">{{c.clientName}}</td>
                <td class="medium">{{c.clientInn}}</td>
                <td class="small">{{c.clientDiscount}}%</td>
                <td class="small">{{c.clientContrNum}}</td>
                <td class="medium">{{c.clientContrDate | date:'dd MMMM yyyy'}}</td>
                <td class="button"><button (click)="openModal(c.clientId.toString())" (mouseenter)="c.isHovered = true" (mouseleave)="c.isHovered = false">Edit</button></td>
            </tr>
        </table>
    </div>
    <app-modal>
        <div (click)="closeModal()" class="modal-background"></div>
        <div class="modal-body">
            <table>
                <tr>
                    <th><label for="client-name">clientName</label></th>
                    <td><input id="client-name" [(ngModel)]="clientModal.clientName"></td>
                </tr>
                <tr>
                    <th><label for="client-inn">clientInn</label></th>
                    <td><input id="client-inn" [(ngModel)]="clientModal.clientInn"></td>
                </tr>
                <tr>
                    <th><label for="client-discount">clientDiscount</label></th>
                    <td><input style="width: 25px" (click)="selectAllText($event)" id="client-discount" maxlength="3"
                            (change)="checkDiscount()" [(ngModel)]="clientModal.clientDiscount">%</td>
                </tr>
                <tr>
                    <th><label for="client-contrnum">clientContrNum</label></th>
                    <td><input id="client-contrnum" [(ngModel)]="clientModal.clientContrNum"></td>
                </tr>
                <tr>
                    <th><label for="client-input-day">clientContrDate</label></th>
                    <td>
                        <label style="width: 25px" for="client-input-day">day:</label>
                        <input (click)="selectAllText($event)" maxlength="2" style="width: 25px" id="client-input-day"
                            (change)="toDate()" [(ngModel)]="dateDay">
                        <label style="width: 25px" for="client-input-mon">month:</label>
                        <input (click)="selectAllText($event)" maxlength="2" style="width: 25px" id="client-input-mon"
                            (change)="toDate()" [(ngModel)]="dateMon">
                        <label style="width: 25px" for="client-input-yer">year:</label>
                        <input (click)="selectAllText($event)" maxlength="4" style="width: 50px" id="client-input-yer"
                            (change)="toDate()" [(ngModel)]="dateYer">
                        <br>Result: {{clientModal.clientContrDate | date: 'dd MMMM yyyy'}}
                    </td>
                </tr>
                <tr>
                    <th><label for="client-descr">clientDescr</label></th>
                    <td><input id="client-descr" [(ngModel)]="clientModal.clientDescr"></td>
                </tr>
            </table>
        </div>
        <div *ngIf="clientModal.clientId === 0" class="modal-buttons">
            <button (click)="newClient()">Add</button>
            <button (click)="closeModal()">Cancel</button>
        </div>
        <div *ngIf="clientModal.clientId !== 0" class="modal-buttons">
            <button (click)="editClient()">Save</button>
            <button (click)="delClient()">{{delButtonText}}</button>
            <button (click)="closeModal()">Close</button>
        </div>
    </app-modal>
</section>