<section>
  <nav>
    <a routerLink="/auth" routerLinkActive="active" draggable="false">Auth</a>
    <a routerLink="/settings" routerLinkActive="active" draggable="false">Settings</a>
    <a routerLink="/vm" routerLinkActive="active" draggable="false">VM</a>
    <a routerLink="/fm" routerLinkActive="active" draggable="false">FM</a>
    <a routerLink="/client" routerLinkActive="active" draggable="false">Client</a>
    <a routerLink="/net" routerLinkActive="active" draggable="false">Net</a>
    <a routerLink="/vpn" routerLinkActive="active" draggable="false">VPN</a>
    <a routerLink="/print" routerLinkActive="active" draggable="false">Print</a>
  </nav>
</section>
<router-outlet></router-outlet>
