<section>
    <div class="main">
        <h1>{{screenWidth}}</h1>
        <div class="form">
            <table>
                <tr>
                    <th><label for="price-vm-cpu">Price</label></th>
                    <td>
                        <table>
                            <tr>
                                <th><label for="price-vm-cpu">CPU</label></th>
                                <th><label for="price-vm-ram">RAM</label></th>
                                <th><label for="price-vm-ssd">SSD</label></th>
                                <th><label for="price-vm-hdd">HDD</label></th>
                            </tr>
                            <tr>
                                <td><input id="price-vm-cpu" [(ngModel)]="vmPrice.cpu"></td>
                                <td><input id="price-vm-ram" [(ngModel)]="vmPrice.ram"></td>
                                <td><input id="price-vm-ssd" [(ngModel)]="vmPrice.ssd"></td>
                                <td><input id="price-vm-hdd" [(ngModel)]="vmPrice.hdd"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th><button>Client</button></th>
                    <td>
                        <div><button>{{selectedClient.name}}</button></div>
                        <div><button *ngFor="let c of clientDd">{{c.clientName}}</button></div>
                    </td>
                </tr>
                <tr>
                    <th>Calc</th>
                    <td>
                        <table>
                            <tr>
                                <th>Discount</th>
                                <th>Total without discount</th>
                                <th>Total with discount</th>
                            </tr>
                            <tr>
                                <td>etwa data</td>
                                <td>etwa data</td>
                                <td>etwa data</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>Other</th>
                    <td>
                        <table>
                            <tr>
                                <th>период действия</th>
                                <th>номер договора</th>
                                <th>номер калькуляции</th>
                                <th>итд</th>
                                <th>итп</th>
                            </tr>
                            <tr>
                                <td>etwa data</td>
                                <td>etwa data</td>
                                <td>etwa data</td>
                                <td>etwa data</td>
                                <td>etwa data</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>Edit</th>
                    <td>
                        <table>
                            <td><button>VM</button></td>
                            <td><button>FM</button></td>
                            <td><button>Net</button></td>
                            <td><button>VPN</button></td>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="select">
            router
        </div>
        <div class="preview">
            preview
        </div>
    </div>
</section>